/*for the ones that have . infront of them they are class selectors, these are for a specific class name*/
/*for the ones that don't have . this applies to all data types */

.backgroundColor {
  width: 100vw;
  min-height: 100vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
}



.comment-box {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
}

.post-comment {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-comment {
  width: 100%;
  max-width: 800px;
  padding: 12px;
  font-size: 16px;
  background-color: #f6f7f9;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  box-sizing: border-box;
}

.submit-comment:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  max-width: 800px;
  height: 150px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  margin: 250px 0 20px;
  /* space around it */
}